*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,roboto,oxygen,ubuntu,cantarell,fira sans,droid sans,helvetica neue,sans-serif;
  height: 100vh;
  width: 100%;
  background-image: url(./img/bg-home.ee05a9f9b9f358c2e8b8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container{
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.header img{
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  height: 100px;
  width: auto;
}

.header ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.header ul li {
  list-style: none;
}

.header ul li a {
  color : white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}

.login-container{
  height: 450px;
  width : 1150px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} 

.welcome button{
  background-color: #183c75;
  color: white;
  line-height: 23px;
  padding: 10px 28px;
  border: none;
} 

.welcome{
  color: white;
  width: 490px;
  padding: 20px;
  text-align: center;
}

.footer{
  width: 100%;
  height: 50px;
  background-color: rgba(29,69,132,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer p {
  margin:0;
}

.login-form{
  background-color: white;
  padding: 60px;
}

.btn{
  background-color: #183c75 !important;
}

.login-form h1{
  font-weight: 200;
}


